html {
    font-size: 62.5%;
    min-height: 100%;
    position:relative;
}

body {
    @include fontbrand ();
    font-size: 100%;
    @include font-size (1.4);
    padding:0;
    margin:0;
    color: $bodyColor;
    overflow-x: hidden;
    
}

h1, h2, h3, h4, h5, h6, th {
    line-height: 1.3em;
    -webkit-transform: translate3d(0, 0, 0);
    @include fontbrand ();
    a {
        color: $bodyColor;  
    }
}

h1 {
    @include font-size (3.0);
}
h2 {
    @include font-size (2.5);
}
h3 {
    @include font-size (2.1);
}

a {
    @include transition( all 0.3s linear 0s);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn {
    @include transition( all 0.3s linear 0s);
    @include box-shadow(none);
    text-shadow: none;
    font-family: "helvetica neue", Arial, serif;

    &.btn-stop {
        background-color: $redLNS;
        color: $white;
        border-color: $redLNS;
        border-width: 2px;
        &:hover {
            background-color: $white;
            color: $redLNS;
        }
    }
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style: inside;
    li {
        margin: 0;
        line-height: 1.3em;
    }
}

legend {
    padding-bottom: 8px;
    text-align: center;
    font-weight: lighter;
}

.input-group input.btn {
    height: 48px;
}


//  Logo
// ---------------------------

.header-container { 
    padding: 20px 0;
    @include box-shadow(2px 2px 2px $greyAA);
    background-color: $headerColor;
    @include transition( all 0.3s linear 0s);
    h1 {
        font: 800 32px "Open Sans";
        margin: 0;
        color: $white;
        @include transition( all 0.3s linear 0s);
    }
}


//  create-form
// ---------------------------

.create-form {
    margin-bottom: 20px;
    label {
        @include font-size (2);
    }
}

.list-choice {
    margin-bottom: 25px;
    li {
        height: 35px;
        padding: 8px 20px 8px 55px;
        background-color: $greyDD;
        position: relative;
        margin-bottom: 8px;
        list-style: none;
        a {
            position: absolute;
            height: 20px;
            width: 40px;
            text-align: center;
            left: 0;
            top:0;
            height: 35px;
            line-height: 35px;
            background-color: $redLNS;
            color: $white;
            border: 2px solid $redLNS;
            &:hover {
                color: $redLNS;
                background-color: $white;
            }
        }
    }
    span {

    }
}

.icheck-radio-box {
    @include clearfix();
    padding: 0;
    float: left;
    margin: 0 15px 15px 0;
    label {
        display: block;
        
        position: relative;
        font-weight: normal;
        cursor: pointer;
        overflow: hidden;
        @include font-size (1.6);
        @include border-radius(5px);
        .iradio_minimal {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            @include gradient-vertical(#92d3e0,#92d3e0);
            z-index: -1;
            
            &.hover,
            &.checked {
                @include gradient-vertical(#DFF0D8,#b1e49c);
            }
        }
        .label-txt {
            display: block;
            padding: 20px;
        }
    }
}

.live-sondage-info {
    .panel {
       margin-right: 20px;
       border: solid 1px #2A2C39;
    }
    .panel-body {
        text-align: center;
        @include font-size (3.2);
        padding: 0;
    }
}

.btn-box {
    clear: both;
    padding: 25px 0;
}

//  Result
// ---------------------------

.results-list {
    li {
        list-style: none;
        background-color: #F4F4F4;
        padding: 25px;
        margin-bottom: 20px;
        .progress-bar {
            background-color: #b1e49c;
            padding: 5px 0;
        }
        .progress {
            height: 40px;
            margin: 0;
            background-color: $white;
        }
        .label-txt {
            display: block;
            margin-bottom: 5px;
            @include font-size(1.6); 
        }
    }
}

//  Main
// ---------------------------

.main-container {
    padding: 30px 0 85px;
    h2 {
        margin-top: 0;
    }
}



//  Footer
// ---------------------------

.footer-container {
    padding: 15px 0;
    text-align: center;
    @include font-size(1.2);
    color: $grey88;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: $beige;
}



// Fablette 
@media (max-width: 767px) {
    .main-container {
        padding: 20px 0 85px;
    }
    .header-container {
        padding: 10px 0;
        h1 {
            font: 800 24px "Open Sans";
        }
    }
}



