html {
    font-size: 62.5%;
    min-height: 100%;
    position:relative;
}

body {
    @include fontbrand ();
    font-size: 100%;
    @include font-size (1.4);
    padding:0;
    margin:0;
    color: $bodyColor;
    overflow-x: hidden;
    
}

h1, h2, h3, h4, h5, h6, th {
    line-height: 1.3em;
    -webkit-transform: translate3d(0, 0, 0);
    @include fontbrand ();
    a {
        color: $bodyColor;  
    }
}

h1 {
    @include font-size (3.0);
}
h2 {
    @include font-size (2.5);
}
h3 {
    @include font-size (2.1);
}

a {
    @include transition( all 0.3s linear 0s);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn {
    @include transition( all 0.3s linear 0s);
    @include box-shadow(none);
    text-shadow: none;
    font-family: "helvetica neue", Arial, serif;

    &.btn-stop {
        background-color: $redLNS;
        color: $white;
        border-color: $redLNS;
        border-width: 2px;
        &:hover {
            background-color: $white;
            color: $redLNS;
        }
    }
}

legend {
    padding-bottom: 8px;
    text-transform: uppercase;
}

.input-group input.btn {
    height: 48px;
}


//  Logo
// ---------------------------

h1 {
    font: 800 32px "Open Sans";
    margin: 0;
    color: $white;
}

.header-container {
    padding: 30px 0;
    @include box-shadow(2px 2px 2px $greyAA);
    background-color: $headerColor;
}


//  create-form
// ---------------------------

.create-form {
    label {
        @include font-size (1.8);
    }
}

//  Main
// ---------------------------

.main-container {
    padding: 30px 0 65px;
}



//  Footer
// ---------------------------

.footer-container {
    padding: 15px 0;
    text-align: center;
    @include font-size(1.2);
    color: $grey88;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: $beige;
}





