<div ng-show="mode == 'edit'">
    <form class="form" role="form" ng-submit="addChoice()">
        <fieldset>
            <legend>Créer un sondage</legend>
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control input-lg" id="title"  ng-model="poll.title" size="30" placeholder="">
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="newChoiceText">Ajouter un choix</label>
                    <input type="text" class="form-control input-lg" id="newChoiceText" ng-model="choiceText" size="30" placeholder="Un nouveau choix">
                    <span class="input-group-btn">
                        <input class="btn btn-default btn-lg" type="submit" value="Ajouter">
                    </span>
                </div>
            </div>
        </fieldset>
    </form>
    <div>
        <ul>
            <li ng-repeat="choice in poll.choices">
            <span>{{ choice }}</span> <a href ng-click="removeChoice($index)"><span class="glyphicon glyphicon-remove"></span></a>
            </li>
        </ul>
    </div>
    <button class="btn btn-primary btn-lg btn-block" ng-click="start()">Commencer</button>
</div>

<div ng-show="mode == 'normal'">
    <h2>{{ poll.title }}</h2>
    <form ng-submit="vote(answerIndex)" ng-show="role == 'user' && !poll.answered">
        <div class="radio" ng-repeat="choice in poll.choices">
            <label>
                <input type="radio" name="answerIndex" ng-model="$parent.answerIndex" ng-value="{{ $index }}">
                {{choice}} <small>{{ results[$index] }}</small></span>
            </label>
        </div>
        <button class="btn btn-primary btn-lg btn-block">Voter</button>
    </form>
    <div ng-show="(poll.answered || role == 'admin')">
        Progression :
        <div progressbar progressmax="connectedUsers" progressvalue="answererCount"></div>
        {{ answererCount }} <span class="glyphicon glyphicon-bullhorn"></span> / {{ connectedUsers }} <span class="glyphicon glyphicon-user"></span>
    </div>
    <button class="btn btn-primary btn-lg btn-block" ng-click="stop()" ng-show="role == 'admin'">Arrêter</button>
</div>

<div ng-show="mode == 'results'">
    <h2>{{ poll.title }}</h2>
    <h3>Résultats</h3>
    <div>
        <ul>
            <li ng-repeat="result in results | orderBy:'-nbVotes':false">
                <span>{{ $index+1 }}</span> <span>{{ result.label }}</span> <small>({{ result.nbVotes }} votes)</small>
            </li>
        </ul>
    </div>
</div>



