<div ng-show="mode == 'init'">
    <button class="btn btn-pollday btn-success btn-lg btn-block" ng-click="init()">Créer un sondage</button>
</div>
<div ng-show="mode == 'edit'">
    <div ng-show="poll.author === user.id">
        <form class="form create-form" role="form" ng-submit="addChoice()">
            <fieldset>
                <legend>Créer un sondage</legend>

                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" class="form-control input-lg" id="title" ng-model="poll.title" size="30" placeholder="">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="newChoiceText">Ajouter un choix</label>
                        <input type="text" class="form-control input-lg" id="newChoiceText" ng-model="choiceText" size="30" placeholder="Un nouveau choix" required>
                        <span class="input-group-btn">
                            <input class="btn btn-default btn-lg" type="submit" value="Ajouter">
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
        <div>
            <ul class="list-choice">
                <li ng-repeat="choice in poll.choices">
                <span>{{ choice }}</span> <a href ng-click="removeChoice($index)"><span class="glyphicon glyphicon-remove"></span></a>
                </li>
            </ul>
        </div>
        <button class="btn btn-pollday btn-success btn-lg btn-block" ng-show="poll.choices.length" ng-click="start()">Commencer</button>
    </div>
    <div class="waitting-msg" ng-show="poll.author !== user.id">
        <div class="box">
            <div class="clock"></div>
        </div>
        <h3>
            Veuillez patienter<br />
            Un sondage est en cours de création

        </h3>
    </div>
</div>

<div ng-show="mode == 'normal'">
    <div ng-class="{true:'answering', false:''}[(poll.author !== user.id && !poll.answered)]" class="clearfix live-sondage-info">
        <div class="panel-box">
          <div class="panel-box-header">
            <span class="glyphicon glyphicon-list-alt"></span> Vote(s)
          </div>
          <div class="panel-box-body">
            {{ poll.answererCount }}
          </div>
        </div>
        <div class="panel-box">
          <div class="panel-box-header">
            <span class="glyphicon glyphicon-user"></span> Connectés
          </div>
          <div class="panel-box-body">
            {{ connectedUsers }}
          </div>
        </div>
    </div>

    <form ng-submit="vote(answerIndex)" ng-show="poll.author !== user.id && !poll.answered">
        <h2>Participer au sondage : {{ poll.title }}</h2>
        <div class="icheck-radio-box" ng-repeat="choice in poll.choices">
            <label>
                <input icheck type="radio" name="answerIndex" ng-model="$parent.answerIndex" ng-value="{{ $index }}" required>
                <span class="label-txt">{{choice}}</span> <small>{{ results[$index] }}</small>
            </label>
        </div>
        <div class="btn-box clearfix">
            <button class="btn btn-pollday btn-success btn-lg btn-block">Voter</button>
        </div>
    </form>
    <div ng-show="(poll.answered || poll.author === user.id)">
        <div class="answered-box">
            <h3>
                Les résultats vont s'afficher dans un instant...
                <div class="box">
                    <div class="clock"></div>
                </div>
            </h3>
        </div>

        <div class="admin-progress" ng-show="poll.author === user.id">
            <div progressbar progressmax="connectedUsers" progressvalue="poll.answererCount"></div>
        </div>
    </div>
    <button class="btn btn-primary btn-stop btn-lg btn-block" ng-click="stop()" ng-show="poll.author === user.id">Arrêter</button>
</div>

<div ng-show="mode == 'results'">
    <h2>Résultats du sondage : {{ poll.title }}</h2>
    <div>
        <ul class="results-list">
            <li ng-repeat="result in poll.results track by $index">
            <span class="label-txt">{{ $index + 1 }} - {{ poll.choices[$index] }} <small>({{ result }} vote(s) / {{ poll.answererCount }})</small></span>
                <div progressbar progressmax="poll.answererCount" progressvalue="result">
                    {{(100 * result / poll.answererCount) | number:0 }}%
                </div>
                <span class="picto glyphicon glyphicon-star"></span>
            </li>
        </ul>
    </div>
</div>





